.signup-card{
    border-radius: 10px;
    padding: 1.2rem;
    margin: 5rem auto;
    max-width: 35rem;
    background-color: white;
}

.signup-header{
    font-size: 25px;
    font-weight: bold;
    color: #394AA4;
    text-align: center;
}

.signup-form{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* .signup-input{
    flex-grow: 0.5;
    padding: 10px 25px;
    font-size: 15px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
}

.signup-input:focus{
    outline: none;
    box-shadow: 0 0 10px #719ECE;
} */